{
    "token": "",
    "server": {
        "id": "",
        "channel": {
            "$comment": "Set null for all channels",
            "monitorChannelIDs": [""],
            "statsChannelID": ""
        }
    },
    "emoji": {
        "watching": ["⭐"]
    },
    "leaderboard": {
        "maxUsers": 10
    } 
}